body {
    background-color: #F6F7FC;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 12px;
    color: #A2A1A2;
    font-weight: bold;
}

.navbar {
    background-color: #fff;
    margin: -8px -8px 0 -8px;
    overflow: hidden;
    border-bottom: 5px solid #E1E2E4;
}

.navbar p {
    float: right;
    padding-right: 150px;
    word-spacing: 1em;
}

.navbar a {
    text-transform: uppercase;
    text-decoration: none;
    color: #A2A1A2;
    font-weight: bold;
}

.profile, .form-input {
    margin: 50px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px #E1E2E4;
}

.profile img {
    width: 100px;
    border-radius: 100%;
}

.primary-contact {
    position: absolute;
    left: 200px;
    top: 100px;
}

.primary-contact h1 {
    margin-bottom: 5px;
    font-size: 24px;
}

.primary-contact p {
    margin-bottom: 20px;
}

.primary-contact button {
    padding: 6px 15px;
    border-radius: 6%;
    font-size: 12px;
    font-weight: bold;
}

.primary-contact .kontak {
    border: none;
    background-color: #0000F8;
    box-shadow: 0px 0px 2px 2px #0000F8;
    color: #fff;
    margin-right: 5px;
}

.primary-contact .resume {
    background-color: #fff;
    color: #2D6E16;
    border: 1px solid #2D6E16;
}

.info-contact {
    position: absolute;
    left: 550px;
    top: 110px;
    border-left: 2px solid #E1E2E4;
    padding-left: 15px;
}

.info-contact table tr td {
    font-size: 12px;
    padding-bottom: 5px;
}

.info-contact table tr .judul {
    font-weight: bolder;
    padding-right: 25px;
}

.info-contact table tr .teks {
    color: #A2A1A2;
    font-weight: bold;
}

.form-input {
    padding: 0;
}

.form-input .kolom-input {
    margin-bottom: 10px;
}

.form-input .kolom-input label {
    font-size: 12px;
    font-weight: bold;
}

.form-input form {
    max-width: 1413px;
}

.form-input .kolom-input input {
    width: 100%;
}

.form-input .kolom-input button {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    font-weight: bold;
    border: none;
    background-color: #2E6E16;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0px 0px 2px 2px #2E6E16;
}

